<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My SnipLog</title>
    <style>.content {padding-top: 50px;}</style>
  </head>

  <body>

    {%- block topbar -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h2>
              <a href="/" class="brand">My SnipLog</a> <small>Welcome, Deshna. How have you been?</small>
          </h2>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>

    
    {% block js_footer %}{% endblock %}
  </body>
</html>
