<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My sniplogs</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 50px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

</head>

<body>

   
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1><a href ='/'>Welcome to Sniplogs</a></h1>
                <p class="lead">Store your thoughts, quotes, snippets, logs of any sort. I love sniplogs!</p>
                <ul class="list-unstyled">
                    <li>Welcome, Deshna</li>
                    <li><i>La vida es bella</i></li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
	{% block content %}{% endblock %}
      </div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
