{% extends "index.html" %}

{% block content %}
    <br><br>
    {% for post in posts %}
      <h3><a href="{{ url_for('GetDetail', title=post.title) }}">{{ post.title }}</a></h3>
      <h4>{{ post.subtitle }}</h4>
      <b> Tags : </b>
      {% if post.tags|length == 0 %}
        <i>None</i>
      {% else %}
        {% for tag in post.tags %}

          <!--:: TODO :: Make sure the link is not fixed
          to localhost. Should be dynamic. But using list.html
          everywhere creates error. Can be solved by having a different
          results.html maybe -->
          <a href='http://localhost:5000/tag/{{tag}}'>{{tag}}</a>
        {% endfor %}
      {% endif %}    
      <p>{{ post.body|truncate(100) }}</p>
      <p>
        {{ post.created_at.strftime('%H:%M %Y-%m-%d') }} |
        {% with total=post.comments|length %}
            {{ total }} comment {%- if total > 1 %}s{%- endif -%} | <a href="{{url_for('deletepost',title=post.title) }}">Delete</a>
        {% endwith %}
      </p><br>
    {% endfor %}

{% from "_formhelpers.html" import render_field %}
   <form method=post action="/addpost">
  	<dl>
 	   {{ render_field(form.title) }}
	   {{ render_field(form.subtitle) }}
     {{ render_field(form.body) }}
	   {{ render_field(form.tags) }}

 	 </dl>
	 <p><input type=submit value=Go>
   </form>
{% endblock %}


