{% extends "index.html" %}

{% block content %}

     <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="/list">Home</a>
      <ul class="nav navbar-nav navbar-right">
        
        {% if current_user.is_authenticated() %}
		<li>
		
        <form method=post class="navbar-form" role="search" action ="/search" >
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    	
		</li>
        <li>
          <a href="#Dump">Create Snip</a>
        </li>
        <li>
          <a href="#">{{current_user.userID}}</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>
    </nav>


 <div class="row">
	<a name = "Dump">
    <div class="pull-right col-xs-3 col-sm-3 col-md-3 col-lg-3" >
	<br><br>
	
	  
<!--{% from "_formhelpers.html" import render_field %}
   <form method=post action="/addpost">
  	<dl>
 	   {{ render_field(form.title) }}
	   {{ render_field(form.subtitle) }}
   	   {{ render_field(form.body) }}
	   {{ render_field(form.tags) }}

 	 </dl>
	 <p><input type=submit value=Go>
   </form>-->

      <form action="/addpost" method="POST" role="form" name="AddPost" id="AddPost" >
        <legend>Text dump</legend>
      	{% if error %}
			<p class=error><font color="red"><strong>Error:</strong> {{ error }}</font>
		{% endif %}
	
        <div class="form-group">
          
          <input type="text" id="title" name="title" class="form-control" required="required" placeholder="Title">
        </div>
		



		<div class="form-group">
          <textarea class="form-control" rows="2" id="content" name="content"  required="required" placeholder = "Content"></textarea>
        </div>

		<div class="form-group" style = "display:none" id="tags">        
          <input type="text"  name="tags" id="tags" class="form-control" required="required" placeholder = "Tags">
        </div>

		
		<button type="submit" id="submit" class="btn btn-primary" name="dump" value="dump">Dump</button> &nbsp;<a onclick = "div_tags();" href="#">Add tags</a>
		
      </form>
    </div>
    </a>
	
    <br><br>
    {% for post in posts %}
      <h3><a href="{{ url_for('GetDetail', title=post.title) }}">{{ post.title }}</a></h3>
	  {% if post.subtitle %}
      	<h4>{{ post.subtitle }}</h4>
	  {% endif %}
      <b> Tags : </b>
      {% if post.tags|length == 0 %}
        <i>None</i>
      {% else %}
        {% for tag in post.tags %}

          <!--:: TODO :: Make sure the link is not fixed
          to localhost. Should be dynamic. But using list.html
          everywhere creates error. Can be solved by having a different
          results.html maybe -->
          <a href='/tag/{{tag}}'>{{tag}}</a>
        {% endfor %}
      {% endif %}    
      <p>{{ post.body|truncate(100) }}</p>
      <p>
		{{ post.created_at.strftime('%H:%M %Y-%m-%d') }} |
        {% with total=post.comments|length %}
            {{ total }} comment {%- if total > 1 %}s{%- endif -%} | <a href="{{url_for('deletepost',title=post.title) }}">Delete</a>
        {% endwith %}
      </p><br>
    {% endfor %}
  </div>

{% endblock %}

